[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "stevengxu.github.io"]
	path = stevengxu.github.io
	url = https://github.com/stevengxu/stevengxu.github.io.git
